@charset "UTF-8";

body{
  margin:0;
  background:#050505;
  color:white;
  font-family:serif;
}

.page{
  min-height:100vh;
  background:
  linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.9)),
  url("IMG_0580.png");
  background-size:cover;
  background-position:center;
  display:flex;
}

.sidebar{
  width:260px;
  min-height:100vh;
  padding:50px 30px;
  background:rgba(0,0,0,.45);
  border-right:1px solid rgba(184,148,92,.2);
}

.logo{
  width:150px;
  display:block;
  margin:0 auto 50px;
}

nav{
  display:flex;
  flex-direction:column;
  gap:18px;
}

nav a{
  color:#b8945c;
  text-decoration:none;
  letter-spacing:2px;
}

.content{
  flex:1;
  padding:80px;
}

.small-title{
  color:#b8945c;
  letter-spacing:6px;
}

h1{
  color:#d8c39a;
  font-size:56px;
  margin:20px 0;
}

.memories-intro{
  color:#c7b08a;
  line-height:2;
  margin-bottom:60px;
}

.timeline{
  border-left:1px solid rgba(184,148,92,.4);
  padding-left:40px;
}

.timeline-item{
  display:block;
  text-decoration:none;
  margin-bottom:50px;
}

.timeline-date{
  color:#b8945c;
  margin-bottom:10px;
}

.timeline-content{
  background:rgba(0,0,0,.4);
  border:1px solid rgba(184,148,92,.2);
  border-radius:20px;
  padding:25px;
  transition:.3s;
}

.timeline-content h2{
  color:#d8c39a;
  margin-top:0;
}

.timeline-content p{
  color:#d0d0d0;
}

.view-link{
  color:#b8945c;
}

.timeline-item:hover .timeline-content{
  transform:translateY(-3px);
  border-color:#b8945c;
}

@media(max-width:1000px){

  .page{
    flex-direction:column;
  }

  .sidebar{
    width:100%;
    min-height:auto;
  }

  .content{
    padding:40px 25px;
  }

}
